h1{
    color: blue;
    margin-left: 800px;
  }
  .menu a{
      padding-right: 10px;
  }
  a:link{
     color: blue;
  }
  a:visited{
      color: green;
  }
  .header{
      background-color: cornsilk;
      display: flex;
      justify-content: space-between;
  }
  .games{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  .footer{
      display: flex;
      justify-content: center;
  }
  p, h2{
      text-align: center;
  }
  body{
      background-color: #808080
  }
  .Items{
      position: relative;
  }
  .Items p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
  }
  .Items:hover p{
   opacity:1;
  }
 .Items:hover img{
     opacity: 0.3;
 }